.navlinks {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  /* flex-direction: row; */
  /* flex-grow: 4; */
  flex-wrap: wrap;
  justify-content: flex-start;
  text-decoration: none;
}
.activeNav {
  color: black;
}

.nav-link:link {
  color: #3e4444;
  font-size: large;
  text-decoration: none;
}
